@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="horario" class="txt1">
    <p>
        <br />
        <br />
        <br />
        <br />
    </p>


    <p align="center">
        <h1 class="titulo">HORÁRIOS</h1>
        <br />
        <h2 class="subTitulo" style="text-align:center;">Horário de Manhã </h2>
        <br />
        <<br />
        <div dir="ltr">
            <table>
                <colgroup>
                    <col width="43" />
                    <col width="82" />
                    <col width="167" />
                    <col width="167" />
                    <col width="167" />
                    <col width="167" />
                    <col width="167" />
                </colgroup>
                <tbody>
                    <tr>
                        <td>
                            <br />
                        </td>
                        <td>
    <p dir="ltr">
        Horário
    </p>
    </td>
    <td>
        <p dir="ltr">
            6o. ano
        </p>
    </td>
    <td>
        <p dir="ltr">
            7o. ano
        </p>
    </td>
    <td>
        <p dir="ltr">
            8o. ano A
        </p>
    </td>
    <td>
        <p dir="ltr">
            8o. ano B
        </p>
    </td>
    <td>
        <p dir="ltr">
            9o. ano
        </p>
    </td>
    </tr>
    <tr>
        <td rowspan="5">
            <br />
            <p dir="ltr">
                2ªf
            </p>
        </td>
        <td>
            <p dir="ltr">
                07:30/08:20
            </p>
        </td>
        <td>
            <p dir="ltr">
                Educ. Física
            </p>
        </td>
        <td>
            <p dir="ltr">
                Artes
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências (Ale)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Desenho Geométrico
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                08:20/09:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Educ. Física
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências (Ale)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Desenho Geométrico
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                09:10/10:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Desenho Geométrico
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Artes
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências (Ale)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                10:20/11:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                Artes
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Desenho Geométrico
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Kátia)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                11:10/12:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Desenho Geométrico
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Artes
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Kátia)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
    </tr>
    <tr>
        <td rowspan="5">
            <br />
            <p dir="ltr">
                3ªf
            </p>
            <br />
            <br />
            <br />
        </td>
        <td>
            <p dir="ltr">
                07:30/08:20
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
        <td>
            <p dir="ltr">
                Desenho Geométrico
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                08:20/09: 0
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
        <td>
            <p dir="ltr">
                Desenho Geométrico
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                09:10/10:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
        <td>
            <p dir="ltr">
                Desenho Geométrico
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                10:20/11:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                11:10/12:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Luciana)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
    </tr>
    <tr>
        <td rowspan="5">
            <br />
            <p dir="ltr">
                4ªf
            </p>
        </td>
        <td>
            <p dir="ltr">
                07:30/08:20
            </p>
        </td>
        <td>
            <p dir="ltr">
                Informática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Espanhol
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Ana A)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                08:20/09:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Informática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Espanhol
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Ana A)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                09:10/10:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Ana A)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Espanhol
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Informática
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                10:20/11:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                Espanhol
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Kátia )
            </p>
        </td>
        <td>
            <p dir="ltr">
                Informática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências (Ana A)
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                11:10/12:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências (Ana A)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Informática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Kátia )
            </p>
        </td>
        <td>
            <p dir="ltr">
                Espanhol
            </p>
        </td>
    </tr>
    <tr>
        <td rowspan="5">
            <br />
            <p dir="ltr">
                5ªf
            </p>
        </td>
        <td>
            <p dir="ltr">
                07:30/08:20
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                08:20/09:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                09:10/10:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                10:20/11:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Aline)
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                11:10/12:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Inglês
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Aline)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Geografia
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
    </tr>
    <tr>
        <td rowspan="5">
            <br />
            <p dir="ltr">
                6ªf
            </p>
        </td>
        <td>
            <p dir="ltr">
                07:30/08:20
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port (Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
        <td>
            <p dir="ltr">
                Educ. Física
            </p>
        </td>
        <td>
            <p dir="ltr">
                Artes
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                08:20/09:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências (Ana A)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                Educ. Física
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                09:10/10:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências (Ana A)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Educ. Física
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                10:20/11:10
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Ana A)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Kátia )
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p dir="ltr">
                11:10/12:00
            </p>
        </td>
        <td>
            <p dir="ltr">
                Port ( Carla)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências (Ana A)
            </p>
        </td>
        <td>
            <p dir="ltr">
                Ciências ( Kátia )
            </p>
        </td>
        <td>
            <p dir="ltr">
                História
            </p>
        </td>
        <td>
            <p dir="ltr">
                Matemática
            </p>
        </td>
    </tr>
    </tbody>
    </table>
</div>
    </p>
</div>

<p>
    <br>
</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p>
    <br>
</p>