
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

            <div id="slideshow">
                <ul class="slides">
                    <li><img src="../Content/Images/inicio1.jpg" alt="inicio1.jpg" title="Alegria de aprender, pensar e atuar"></li>
                    <li><img src="../Content/Images/inicio2.jpg" alt="inicio2.jpg" title="Alegria de aprender, pensar e atuar"></li>
                </ul>

                <span class="arrow previous"></span>
                <span class="arrow next"></span>
            </div>

            <div id="inicio" class="txt1">
                <p>
                    <br />
                    <br />
                    <br />
                    <br /> 
                </p>
                <p align="center">
                    <span style=" font-size:22px;">
                        <strong>COMUNICADO AOS ALUNOS</strong>
                    </span>
               </p>
                <br />
                
                
                <p align="center">
                    <span style=" font-size:16px;">
                        Acessar os conteúdos de Matemática, Ciências, História e
                        Geografia (Material Telaris) no SITE da editora.<br><br>
                    </span>
                    <span style=" font-size:18px;">
                        <a href="http://www.portalpedagogico.com.br/" target="new">http://www.portalpedagogico.com.br/</a><br>
                        <strong>Login:</strong> 5FRCN6<br>
                        <strong>Senha:</strong> 123456
                    </span>
                </p>
            </div>

            <p>
                <br>
            </p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p>
                <br>
            </p>