@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="inicio" class="txt1">


    
    <br />
    <br />
    <br />


    <p style="align-content:center">
        <h1 class="titulo" style="text-align:center">Encontro com o passado</h1>
        <h2 class="subTitulo" style="text-align:center">João da Cruz Batista, 104 anos, ex-combatente da Revolução Constitucionalista de 1932, recebe a visita
        dos alunos do 9º ano da Escola Regina Altman.
        <br />
        Acompanhados pela professora Liliane Bairros (História), o encontro complementou os conteúdos aprendidos em sala de aula.
        <br />
        João muito feliz, agradece a oportunidade desse convívio.
        <br />
        Valeu Escola Regina Altman!!!
        </h2>
        <br />
        <h2 class="subTitulo" style="text-align:center"><img src="~/Content/encontro.jpg"></h2>        
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <p align="center">
           <h2 class="subTitulo" style="text-align:center"><a href="@Url.Action("Amalia", "Home")" style="text-align:center">BLOG DA AMÁLIA</a></h2>
        <br />
        <br />
        <br />
        <br />
    </p>


    <p align="center">
       <img src="~/Content/calendario.jpg" />
    </p>
    <h2 class="subTitulo" style="text-align: center; color: red;">JULHO – FÉRIAS ESCOLARES
    <br />
03/08 = INICIO DAS AULAS DO 2º SEMESTRE</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<p>
    <br>
</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p>
    <br>
</p>