@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="inicio" class="txt1">
    <!--<ul class="stick">
        <li class="stick">
            <a class="stick" href="#">
                <h2 class="stick">Título #1</h2>
                <p class="stick">Texto #1</p>
            </a>
        </li>
    </ul>--> 

    <br />
    <br />
    <br />
    <p style="align-content:center">
        <h1 class="titulo" style="text-align:center">Avisos Importantes!</h1>
        <br />
        <br />
        <br />
        <br />
        <iframe src="https://docs.google.com/viewer?url=http://escolareginaaltman.com.br/Content/Arquivos/cal25.pdf&embedded=true"
                style="align-content:center; width:600px; height:500px; margin: auto; display: block" frameborder="0">
    <p>Seu navegador não suporta esse recurso. <a href="~/Content/Arquivos/cal25.pdf" title="Veja o aviso">Veja o aviso aqui.</a>.</p>
    </iframe>
    <br />
    <br />
    <br />
    <br />
    <iframe src="https://docs.google.com/viewer?url=http://escolareginaaltman.com.br/Content/Arquivos/cal69.pdf&embedded=true"
            style="align-content:center; width:600px; height:500px; margin: auto; display: block" frameborder="0">
        <p>Seu navegador não suporta esse recurso. <a href="~/Content/Arquivos/cal69.pdf" title="Veja o aviso">Veja o aviso aqui.</a>.</p>
    </iframe>
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <p align="center">
        <h2 class="subTitulo" style="text-align:center"><a href="@Url.Action("Amalia", "Home")" style="text-align:center">BLOG DA AMÁLIA</a></h2>
        <br />
        <br />
        <br />
        <br />
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<p>
    <br>
</p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p><br></p><p>
    <br>
</p>