
@{
    ViewBag.Title = "Textos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centerText">
    <h1 class="titulo">Textos Interessantes</h1>
    <br />
    <h2 class="subTitulo">Felicidade</h2>
    <br />
    <p class="textoCentral">Os pais podem dar alegria e satisfação para um filho, mas não há como lhe dar felicidade. Os pais podem aliviar sofrimentos enchendo-o de presentes, mas não há como lhe comprar felicidade. Os pais podem ser muito bem-sucedidos e felizes, mas não há como lhe emprestar felicidade.</p>
    <br />
    <p class="textoCentral">Mas os pais podem aos filhos dar muito amor, carinho, respeito, ensinar tolerância, solidariedade e cidadania, exigir reciprocidade, disciplina e religiosidade, reforçar a ética e a preservação da Terra.</p>
    <br />
    <p class="textoCentral">Pois é tudo isso que se compõe a auto-estima. É sobre a auto-estima que repousa a alma, e é nesta paz que reside a FELICIDADE.</p>
    <br />
    <br />
    <br />
</div>
